*{
  box-sizing: margin-box;
}
.nav:hover {
    animation: shake 2s;
    animation-iteration-count: infinite;
  }
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-5deg); }
    20% { transform: translate(-3px, 0px) rotate(5deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(5deg); }
    50% { transform: translate(-1px, 2px) rotate(-5deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-5deg); }
    80% { transform: translate(-1px, -1px) rotate(5deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-5deg); }
  }
  .link{
    color: gray;
    transition: ease-out;
    transition-duration: 1s;
  }
  .link:hover{
    color: white;
    transition: ease-out;
    transition-duration: 0s;
    cursor: pointer;
  }
.projects {
  text-align: center;
  /* grid-gap: 10px;
  margin-top: 10px;
  margin-left: 15%;
  margin-right: 15%;
  height: 80vh; */
}
.project1{
  position: relative;
  background-image: url(https://i.pinimg.com/originals/f6/2d/12/f62d12fb05351f2c6b9b174e4b03b977.png);
  display:inline-block;
  margin: 0% 2%;
  border: solid white;
  border-radius: 10px;
  background-color:rgba(255, 255, 255, 0.8);
  margin-top: 20px;
  margin-bottom: 10px;
  height: 280px;
  width: 400px;
  transition: .5s ease;
  backface-visibility: hidden;
}
.project2{
  position: relative;
  background-image: url(https://i.pinimg.com/originals/9f/00/b1/9f00b14210c0260976f2f763555c7dec.png);
  display:inline-block;
  margin: 0% 2%;
  border: solid white;
  border-radius: 10px;
  background-color:rgba(255, 255, 255, 0.8);
  margin-top: 20px;
  margin-bottom: 10px;
  height: 280px;
  width: 400px;
  transition: .5s ease;
  backface-visibility: hidden;
}
.project3{
  position: relative;
  background-image: url(https://i.pinimg.com/originals/b4/fd/10/b4fd10fb0548e9f1d4f96bf05fd25666.png);
  display:inline-block;
  margin: 0% 2%;
  border: solid white;
  border-radius: 10px;
  background-color:rgba(255, 255, 255, 0.8);
  margin-top: 20px;
  margin-bottom: 10px;
  height: 280px;
  width: 400px;
  transition: .5s ease;
  backface-visibility: hidden;
}
.project4{
  position: relative;
  background-image: url(https://i.pinimg.com/originals/e6/bc/2f/e6bc2f60a9416690f598fe9e01d20983.png);
  display:inline-block;
  margin: 0% 2%;
  border: solid white;
  border-radius: 10px;
  background-color:rgba(255, 255, 255, 0.8);
  margin-top: 20px;
  margin-bottom: 10px;
  height: 280px;
  width: 400px;
  transition: .5s ease;
  backface-visibility: hidden;
}
.project5{
  position: relative;
  background-image: url(https://i.pinimg.com/originals/e6/bc/2f/e6bc2f60a9416690f598fe9e01d20983.png);
  display:inline-block;
  margin: 0% 2%;
  border: solid white;
  border-radius: 10px;
  background-color:rgba(255, 255, 255, 0.8);
  margin-top: 20px;
  margin-bottom: 10px;
  height: 280px;
  width: 400px;
  transition: .5s ease;
  backface-visibility: hidden;
}
.project6{
  position: relative;
  background-image: url(https://i.pinimg.com/originals/e6/bc/2f/e6bc2f60a9416690f598fe9e01d20983.png);
  display:inline-block;
  margin: 0% 2%;
  border: solid white;
  border-radius: 10px;
  background-color:rgba(255, 255, 255, 0.8);
  margin-top: 20px;
  margin-bottom: 10px;
  height: 280px;
  width: 400px;
  transition: .5s ease;
  backface-visibility: hidden;
}
.project1:hover{
  background-image: url(./screenshots/default.jpg);
  opacity: .7;
  cursor: "pointer";
}
.project2:hover{
  background-image: url(./screenshots/default.jpg);
  opacity: .7;
  cursor: "pointer";
}
.project3:hover{
  background-image: url(./screenshots/default.jpg);
  opacity: .7;
  cursor: "pointer";
}
.project4:hover{
  background-image: url(./screenshots/default.jpg);
  opacity: .7;
  cursor: "pointer";
}
.project5:hover{
  background-image: url(./screenshots/default.jpg);
  opacity: .7;
  cursor: "pointer";
}
.project6:hover{
  background-image: url(./screenshots/default.jpg);
  opacity: .7;
  cursor: "pointer";
}
.middle{
  opacity: 0;
  position: absolute;
  display: block;
  width: 100%;
  height: 95%;
  transition: .5s ease;
  color: white;
}
.middle:hover{
  opacity: 1;
}
.projectInfo{
  position: absolute;
  opacity: 1;
  display: block;
  padding-top: 2em;
  width: 100%;
  height: 95%;
  color: white;
}
.projectInfo:hover{
  opacity: 1;
}
.button{
  color: lightgray;
  background-color: rgba(0, 0, 0, 0);
  border: solid white1px #ff9450;
  transition: ease-in;
  transition-duration: 1s;
}
.button:hover{
  color: #ff9450;
  border: solid white1px gray;
  transition: ease-in;
  transition-duration: .5s;
}
.connect{
  margin-left: 35%;
  margin-right: 35%;
  padding: 1%;
}


@media (max-width: 1260px){
  .projects{
    margin-left: 0;
    margin-right: 0;
  }
} 
@media (max-width: 882px){
  .project1{
    margin-top: 2em;
    height: 230px;
    width: 300px;
  }
  .project2{
    margin-top: 2em;
    height: 230px;
    width: 300px;
  }
  .project3{
    margin-top: 2em;
    height: 230px;
    width: 300px;
  }
  .project4{
    margin-top: 2em;
    height: 230px;
    width: 300px;
  }
  .projects{
    margin-top: 2em;
  }
  .connect{
    margin-left: 20%;
    margin-right: 20%;
    padding: 1%;
  }
} 
@media (max-width: 665px){
  .projects{
    margin-top: 2em;
  }
  .project1{
    margin-top: 1em;
    height: 300px;
    width: 380px;
  }
  .project2{
    margin-top: 1em;
    height: 300px;
    width: 380px;
  }
  .project3{
    margin-top: 1em;
    height: 300px;
    width: 380px;
  }
  .project4{
    margin-top: 1em;
    height: 300px;
    width: 380px;
  }
  .project4{
    margin-bottom: 5em;
  }
} 
@media (max-width: 520px){
  
  .projects{
    margin-top: 2em;
  }
  .project1{
    margin-top: 1em;
    height: 250px;
    width: 300px;
  }
  .project2{
    margin-top: 1em;
    height: 250px;
    width: 300px;
  }
  .project3{
    margin-top: 1em;
    height: 250px;
    width: 300px;
  }
  .project4{
    margin-top: 1em;
    height: 250px;
    width: 300px;
  }
  .project4{
    margin-bottom: 5em;
  }
} 
@media (min-height: 820px){
  .projects{
    margin-top: 4em;
  }
} 